/*Estilos generale*/
*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/*Header*/

.header {
    background-color:rgb(252, 245, 245);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
}


.header .img-logo{
    height: 100px ;
    padding-top: 25px;
}

.header .nav {
    width: 100%;
}

.header .nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.header .nav ul li{
    margin: 20px 20px;
}

.header .nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(155, 153, 153);
}

.header .nav ul li a:hover{
    color: rgb(102, 64, 64);
}


/*MAIN*/

/*BANNER*/

.welcome-container{
    /* background-image: url('../img/banner-inicio.jpg');
    background-clip: border-box; */
    background-color: black;
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.welcome-container .img-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.welcome-container span{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    margin: 15px 0;
    z-index: 1;
}


.welcome-container .container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    z-index: 1;
}

.welcome-container .welcome{
    background-color: rgba(255, 255, 255, .5);
    width: fit-content;
    z-index: 1;
    
}

.welcome-container .welcome h1{
    
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
    padding: 30px 100px;
    color: white;
}

.welcome-container .show{
    background-color: rgba(41, 35, 35, 0.6);
    padding: 15px 50px;
    margin: 15px 0;
    color: white;
    transition: background-color 1s ease;
    z-index: 1;
}

.welcome-container .show a{
    text-decoration: none;
    color: inherit;
}

.welcome-container .show:hover{
    background-color: rgba(172, 188, 235, 0.6);
    color: rgb(61, 56, 56);

}

/*Bienvenida*/

.content-container{
    max-width: 100%;
    height: 220px;
    background-color: rgb(35, 87, 121);
    display: flex;
    justify-content: center;
}

.content-container .container{
    width: 35%;
    margin: 40px 0;
    
}

.content-container h3, .content-container p{
    text-align: center;
    color: white;
}

.content-container .container h3{
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

/*Sobre Nosotros*/

.about-us-container{
    padding: 70px 50px;
    max-width: 100%;
    height: 300px;
    display: flex;
    border:1px solid black;

}

.about-us-container .img-about-us{
    width: 50%;
    
    margin-right: 20px;
}

.about-us-container .about-us{
    width: 50%;
}

 .about-us-container .about-us h3{
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 20px;
    margin-top: 10px;

} 

.about-us-container .about-us h3:nth-child(3){
    color: rgb(100, 182, 248);
    font-weight: 500;
    font-size: 1.5em;
}

.about-us-container .about-us h4{
    font-size: .8em;
    margin-bottom: 10px;
    margin-top: 10px;
} 

.about-us-container .about-us p{
    line-height: 23px;
} 

.about-us-container .about-us a{
    color: rgb(100, 182, 248);
}

